body{
    background-color:rgb(68, 164, 255);
    font-family:arial;
    color:#fff;
}
.container {
    background-color: #333;
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:15%;

}
#wish{
        text-transform:uppercase;
        letter-spacing:10px;
        font-size:14px;
    
}
#clock{
    background-color:#333;

    font-size:60px;
    text-shadow:0px 0px 1px #fff;

}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
        top:-27px;
        left:-10px;
}
#date {
    letter-spacing:10px;
    font-size:14px;

}